@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
.inputbox{
    display: grid;
    place-items:center;
    height: 100vh;
    background-color: #f8f8f8;
}
.inputbox_filed{
    padding: 10%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.5px 6px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    padding-top: 0;
    padding-bottom: 50px;
    margin: 20px;
}
.inputbox_filed > h1{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}
.inputbox_filed> img{
    width: 20%;
    padding-bottom: 40px;
    padding-top: 20px;

}
.inputbox_filed>form>button{
    margin-top: 30px;
text-transform: inherit !important;
background-color: #0a8d48;
color: white;
}
